# Entorno virtual
venv/
.env

# Archivos compilados
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de base de datos temporales
*.sqlite3

# Archivos de logs
*.log

# Configuraciones de IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Archivos del sistema
.DS_Store
Thumbs.db
